/bin/
/target/classes/
/target/test-classes/
/target/generated-sources/
/target/generated-test-sources/
/target/maven-archiver/
/target/maven-status/
/target/test-classes/
/nbactions-release-profile.xml
/.settings
/.classpath
